﻿
@{
    ViewBag.Title = "Index";
}

<h2>分數階級</h2>
<form method="post" action="@Url.Action("Index")">
    請輸入分數: <input type="text" name="score" value="" />公分 @Model.W<br />
    <input type="submit" value="送出" />
</form>
<br />
查詢結果:
<br/>
分數： @Model.score <br />
代碼： @Model.level

