﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form method="post" action="@Url.Action("Index")">
    請輸入數字
    <input type="text" name="Day" value="" />
    <input type="submit" value="查詢" /><br />
    </form>
    查詢結果： @ViewBag.DAY