﻿@model WebApplication1.ViewModels.BMIdata
@{
    ViewBag.Title = "BMI";
}

<h2>BMI計算</h2>
<form method="post" action="@Url.Action("Index")">
    @Html.DisplayNameFor(a => a.Height)
    @Html.TextBoxFor(a => a.Height) 公分
    @Html.ValidationMessageFor(modleItem => @Model.Height)</br>

    @Html.DisplayNameFor(b => b.Weight)
    @Html.TextBoxFor(b => b.Weight) 公斤
    @Html.ValidationMessageFor(modleItem => @Model.Weight)</br>

    <input type="submit" value="送出" />
</form>
<br />
計算結果： @Model.BMI <br />
等級： @Model.Level
