﻿
@{
    ViewBag.Title = "AboutMe";
}

<h2>AboutMe</h2>
<h3>姓名：涂京至<br />學號：410516934<br />喜歡的水果<br /></h3>
<ol>
    @foreach (var item in (string[])ViewData["Data"])
    {
        <li>
            @item
        </li>
    }
</ol>

